* {
    background-color:rgb(254, 103, 76);
}
h1,
.recipes {
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}
h1 {
    font-size: 150px;
    color: black;
}
.recipes {
    font-size: 50px;
    list-style: none;
}
a {
    color: rgb(246, 225, 90)
}
a:link { 
    text-decoration: none; 
}
a:visited { 
    text-decoration: none; 
}
a:hover {
    color: rgb(255, 240, 144)
}
a:active { 
    text-decoration: none; 
}